apiVersion: v1
kind: ConfigMap
metadata:
  name: SERVICE_NAME-ENVIRONMENT
data:
 ECP_NOTIFICATION_SERVICE_API_URL: https://api.emea.ecp.electrolux.com/notification/api/v1/
 ECP_NOTIFICATION_SERVICE_API_WEB_HOOK_API: https://emea-preproduction.api.electrolux.net/eventSubscriptionManagementService/api/v1/notifications?client_id=d3e70362-0f71-42e5-8aa7-e75804545ba0
 NOTIFICATION_ORCHESTRATOR_SERVICE_API_URL: http://notification-orchestrator-service-preproduction.default.svc.cluster.local/notificationOrchestratorService/api/v1/
 ECP_NOTIFICATION_SERVICE_API_USE_CERTIFICATE: 'true'
 DELETE_DATA_HISTORY_SCHEDULER_NAME: deleteDataHistory
 DELETE_DATA_HISTORY_SCHEDULER_HOURS: '22'
 DELETE_DATA_HISTORY_OLDER_THAN_NUMBER_OF_DAYS: '7'
 DATABASE_CONNECTION_URL: 'jdbc:postgresql://sl-eu-lon-2-portal.9.dblayer.com:28184/esmsDB'